[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "~=3.9.2"
marshmallow = "~=3.20.2"
PyNaCl = "~=1.4.0"
PyYAML = "~=6.0"
python-prctl = "~=1.8.1"

[dev-packages]
mypy = "*"
types-pyyaml = "*"
types-setuptools = "*"
pip-audit = "*"

[requires]
python_version = "3.10"
